

<form [formGroup]='pacienteForm' (ngSubmit)=submit()>

    <h3>Datos de Hospital</h3>
    <div class="hospitalPaciente">
        
        <mat-form-field>
            <input type="text" matInput formControlName="nombrehosp" placeholder=" Nombre del Hospital ">
        </mat-form-field>&nbsp;
        <mat-form-field>
            <input type="text" matInput formControlName="callehosp" placeholder=" Calle ">
        </mat-form-field>&nbsp;
        <mat-form-field>
            <input type="text" matInput formControlName="numerohosp" placeholder=" Número ">
        </mat-form-field>

    </div>

    <h3>Datos del Paciente</h3>

    <div class="datosPaciente">

        <mat-form-field>
            <input type="text" matInput formControlName="nombre" placeholder=" Nombre de paciente ">
        </mat-form-field>&nbsp;
        <mat-form-field>
            <input type="text" matInput formControlName="apellido" placeholder=" Apellido ">
        </mat-form-field>&nbsp;
        <mat-form-field>
            <input type="text" matInput formControlName="edad" placeholder=" Edad ">
        </mat-form-field>&nbsp;

    </div>

    <div formGroupName="direccion" class="direccion">
        <p>Dirección</p>
        <mat-form-field>
            <input type="text" matInput formControlName="calle" placeholder=" Calle ">
        </mat-form-field>&nbsp;
        <mat-form-field>
            <input type="text" matInput formControlName="numero" placeholder=" Numero ">
        </mat-form-field>&nbsp;

    </div>

    <div formArrayName="telefonos">
        <p>Teléfonos</p>
        <div *ngFor="let telefono of telefonos.controls; let i = index" class="telefono">
           
            <mat-form-field>
                <input type="text" matInput formControlName="i" placeholder=" Número de Teléfono ">
            </mat-form-field>&nbsp;
           
        </div>
        <button mat-raised-button (click)="agregarTelefono()">Agregar Teléfono</button>
    </div>
    <p>

    </p>

     <button mat-raised-button type="submit">Guardar</button>


</form>
