

<form [formGroup]='pacienteForm' (ngSubmit)=submit()>

    <h3>Datos de Hospital</h3>
    <div class="hospitalPaciente">
        <label>Hospital
            <input type="text" formControlName="nombrehosp">
        </label>
         <label>Calle
            <input type="text" formControlName="callehosp">
        </label>
        <label>N°
            <input type="text" formControlName="numerohosp">
        </label>
    </div>

    <h3>Datos de Paciente</h3>

    <div class="datosPaciente">
        <label>Nombre
            <input type="text" formControlName="nombre">
        </label>
        <label>Apellido
            <input type="text" formControlName="apellido">
        </label>
        <label>Edad
            <input type="text" formControlName="edad">
        </label>
    </div>

    <div formGroupName="direccion" class="direccion">
        <p>Dirección</p>
        <label>Calle
            <input type="text" formControlName="calle">
        </label>
        <label>N°
            <input type="text" formControlName="numero">
        </label>
    </div>

    <div formArrayName="telefonos">
        <p>Teléfonos</p>
        <div *ngFor="let telefono of telefonos.controls; let i = index" class="telefono">
            <label>
                Teléfono <input type="text" [formControlName]="i">
            </label>
        </div>
        <button (click)="agregarTelefono()">Agregar Teléfono</button>
    </div>

    <button type="submit">Guardar</button>
</form>
